* {
	padding: 0;
	margin: 0;
	font-family: century gothic;
	text-align: center;
}

body {
	background-size: 100%;
	background-attachment: fixed;
}

form {
	padding: 50px 20px;
	background-color: #f3f3f3;
	margin: calc(25% + 100px);
	margin-top: 50px;
	padding-top: 28px;
	margin-bottom: 30px;
	border-radius: 20px;
	border-color: black;
	border-style: inset;
	border-width: 0.5px;
}

h1 {
	text-align: center;
	padding: 10px;
	color: #444;
}

h3 {
	text-align: center;
	padding: 1px;
	color: #444;
}


input {
	width: calc(100% - 45px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px;
	border-radius: 12px;
}

select {
	width: calc(100% - 25px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px;
	border-radius: 12px;
}

input[type='submit']{
	background-color: #48e;
	color: #fff;
	width: calc(80% - 70px);
	margin: 0 10%;
	margin-top: 40px;
	border: none;
	border-radius: 12px;
	
}

input[type='reset']{
	background-color: #48e;
	color: #fff;
	width: calc(80% - 70px);
	margin: 0 10%;
	margin-top: 15px;
	border: none;
	border-radius: 12px;
	
}

button {
	background-color: #48e;
	color: #fff;
	width: calc(40% - 70px);
	height: 35px;
	margin: 0 10%;
	margin-top: 15px;
	border: none;
	border-radius: 18px;
	font-size: 15px;
}